#app-wrapper {
  background-color: #26233a;
}

#chat-wrapper {
  display: flex;
  height: 100%;
}

#room-panel {
  flex: 0 0 20%; /* Set the width of the room panel to 20% */
  height: 100%;
  margin-right: 20px;
}

#chat-panel {
  flex: 1; /* Make the chat panel fill the remaining space */
  height: 100%;
}

