<div class="join-form">
  <input
    id="join-input"
    type="text"
    class="chat-text-input"
    pInputText
    [(ngModel)]="newRoomName"
  />
  <button pButton type="button" class="chat-button" (click)="joinRoom()">
    Join
  </button>
</div>

<p-listbox
  id="chat-room-list"
  styleClass="chat-list-box"
  [options]="stompService.chatSubscriptions"
  [(ngModel)]="stompService.activeRoom"
  (onChange)="setRoomAsRead()"
>
  <ng-template let-room pTemplate="item">
    <div class="flex align-items-center justify-content-between">
      <span>{{ room.getRoomName() }}</span>
      <div class="right-align" *ngIf="room.getNotificationCount() > 0">
        <p-badge
          [value]="room.getNotificationCount()"
          severity="info"
        ></p-badge>
      </div>
    </div>
  </ng-template>
</p-listbox>
